---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <p>
    Published on: {frontmatter.pubDate.slice(0, 10)}
    <p>Written by {frontmatter.author}</p>
    <p>Description: {frontmatter.description}</p>
    <img
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
      style={{ width: "20%", backgroundColor: "black" }}
    />
    <p>
      {
        frontmatter.tags.map((tag) => (
          <li style={{ display: "inline-block", color: "blue" }}>
            {tag} &nbsp;
          </li>
        ))
      }
    </p>
    <slot />
  </p>
</BaseLayout>
